{% extends "base.html" %}

{% block title %}yumrepository{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ header }}</h1>
</div>
<ul>
    {% for file in files %}
    <li><a href="{{ file }}">{{ file }}</a></li>
    {% endfor %}
</ul>
{% endblock %}


