{% extends "base.html" %}

{% block title %}yumrepository{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Usage of this yum repository</h1>
</div>
<p>This repo is no longer maintained.</p>
<h2>RHEL/CentOS 6/7</h2>
<p>1. Create a <code>/etc/yum.repos.d/yumrepository.repo</code> file.</p>
<pre>
[yumrepository.herokuapp.com]
name=yumrepository.herokuapp.com
baseurl=https://yumrepository.herokuapp.com/repodir
# Set enabled to 1 if you accept the pivotal eula: https://network.pivotal.io/legal_documents/pivotal_software_eula
enabled=0
gpgcheck=0
</pre>
<p>Optional:</p>
<p>2. Show status and number of packages in repo: <code>yum repolist yumrepository.herokuapp.com</code></p>
<p>3. Only show latest packages in repo: <code>repoquery --plugins --repoid=yumrepository.herokuapp.com -a --nvr</code></p>
<p>4. See <a href="/repodir">repodir</a> for all rpm packages in this repository.</p>


<h2>Ansible</h2>
<p>0. Create the repo file:</p>
<pre>
- name: create repo file
  blockinfile:
    dest: /etc/yum.repos.d/yumrepository.repo
    create: true
    content: |
      [yumrepository.herokuapp.com]
      name=yumrepository.herokuapp.com
      baseurl=https://yumrepository.herokuapp.com/repodir
      # Set enabled to 1 if you accept the pivotal eula:
      # https://network.pivotal.io/legal_documents/pivotal_software_eula
      enabled=1
      gpgcheck=0
</pre>
<p>Soley calling the yum module fails, because the dyno may be sleeping. Therefore yum thinks the repo is unreachable. The workaround is to wake-up the dyno before calling yum.<p>
<p>1. Waking up the dyno using ansible. Example task:</p>
<pre>
- name: wait for yumrepository
  wait_for:
    host: http://yumrepository.herokuapp.com/
    timeout: 10
  failed_when: false
</pre>
<p>2. Optionally update the yum cache:</p>
<pre>
- name: yum update cache
  yum:
    name: "bash"
    update_cache: "yes"
</pre>
<p>3. yum install:</p>
{% raw %}
<pre>
- name: yum install tc-server packages
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - pivotal-tc-server
    - pivotal-tc-runtime-9.0
    - pivotal-tc-runtime-8.5
</pre>
{% endraw %}
<p>Full playbook example: <a href="./templates/install.yml">install.yml</a>.</p>
<p>Start ansible playbook from control node:<p>
<pre>
ansible-playbook -i "hostname," ./install.yml
</pre>
{% endblock %}
