{% extends "bootstrap/base.html" %}

{%- block content %}
{{super()}}
{%- block footer %}
    <center><footer>&copy; Last update: {{ build_time }} UTC.</footer></center>
{%- endblock footer %}
{%- endblock content %}
